{{define "form"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

        body {
            font-family: 'Quicksand', sans-serif;
        }

        .bd-navbar {
            min-height: 4rem;
            background-color: #3498db;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
        }

        .masthead {
            padding: 2rem 0 2rem;
            position: relative;
            background-color: #dd3d31;
            background-size: cover;
            z-index: 0;
        }

        .page-section {
            padding: 8rem 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
        <div class="container">
            <a class="navbar-brand">
                <h1>Sistem Operasi</h1>
            </a>
        </div>
    </nav>
    <div class="masthead masthead-page">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-2">
                    <h3 class="mb-6">Penjadwalan</h3>
                    <hr>
                    <h5 class="text-justify">Merancang perangkat lunak simulasi penjadwalan dalam sistem operasi.</h5>
                </div>
            </div>

            <div class="row">
                <!-- Kiri -->
                <div class="col-lg-8">
                    <div class="card border-0 shadow mb-4">
                        <div class="card border-2">
                            <div class="card-body">
                                <h5 class="m-0">Deksripsi Projek</h5>
                                <hr>
                                Projek ini dikembangkan menggunakan <strong>bahasa pemrograman golang.</strong><br>
                                Input proses dilakukan melalui sebuah berkas file <strong>.txt</strong>.
                            </div>
                        </div>


                    </div>
                </div>

                <!-- Kanan -->
                <div class="col-lg-4">
                    <div class="card border-0 shadow mb-4 d-none d-lg-block">
                        <div class="card-body">
                            <form method="post" action="/process" enctype="multipart/form-data">
                                <h5 class-mb-5>Silahkan pilih file :</h5>
                                <input type="file" name="file" required /><br>
                                <br>
                                <button class="btn btn-block btn-outline-primary" type="submmit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Data -->
                <div class="col-lg">
                    <div class="card border-0 shadow mb-4">
                        <div class="card border-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Input proses dari file .txt</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-block btn-primary" type="button" data-toggle="collapse"
                                            data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            Klik untuk melihat data
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="collapse" id="collapseExample">
                                    <table class="table table-hover">
                                        <thead class="thead">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Prority</th>
                                                <th scope="col">Lama Proses</th>
                                                <th scope="col">Burst-Time</th>
                                                <th scope="col">Waktu Akses I/0</th>
                                                <th scope="col">Clock Awal</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>1</td>
                                                <td>40</td>
                                                <td>20</td>
                                                <td>5</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>1</td>
                                                <td>60</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>3</td>
                                                <td>20</td>
                                                <td>5</td>
                                                <td>2</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>2</td>
                                                <td>30</td>
                                                <td>15</td>
                                                <td>5</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>3</td>
                                                <td>20</td>
                                                <td>10</td>
                                                <td>5</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>3</td>
                                                <td>20</td>
                                                <td>50</td>
                                                <td>3</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>2</td>
                                                <td>50</td>
                                                <td>10</td>
                                                <td>5</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">8</th>
                                                <td>2</td>
                                                <td>10</td>
                                                <td>30</td>
                                                <td>3</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">9</th>
                                                <td>1</td>
                                                <td>40</td>
                                                <td>20</td>
                                                <td>5</td>
                                                <td>16</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">10</th>
                                                <td>1</td>
                                                <td>60</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">11</th>
                                                <td>1</td>
                                                <td>21</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>6</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">12</th>
                                                <td>1</td>
                                                <td>32</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>16</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">13</th>
                                                <td>1</td>
                                                <td>43</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>71</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">14</th>
                                                <td>1</td>
                                                <td>11</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">15</th>
                                                <td>1</td>
                                                <td>35</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">16</th>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>89</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17</th>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>460</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">18</th>
                                                <td>3</td>
                                                <td>24</td>
                                                <td>3</td>
                                                <td>12</td>
                                                <td>40</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Data -->
            </div>
        </div>
    </div>

    
    <!-- Information -->
    <section class="page-section bg-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Anggota Kelompok</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">
                        Wira Ardi Kesuma Adji - 171401125 <br>
                        Eukardi Yanto Kristov Waruwu - 171401131 <br>
                        Yanuar Putra Dairi Tumanggor - 171401092
                    </p>
                    <hr class="divider light my-4">
                    <h5 class="text-center text-white">
                        Untuk Memenuhi Projek Mata Kuliah Sistem operasi <br>
                        Dosen Pengampu : Dr. Poltak Sihombing
                        <hr class="divider light my-4">
                        <p class="text-white-50 mb-4">
                            Ilmu Komputer 2017 KOM B &#169;2020
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        {{range $elem := .Result}}
        <tr>
            <td>{{index $elem 0}}</td>
            <td>{{index $elem 1}}</td>
            <td>{{index $elem 2}}</td>
            <td>{{index $elem 3}}</td>
            <td>{{index $elem 4}}</td>
            <td>{{index $elem 5}}</td>
        </tr>

        {{end}}
    </table>

</body>

</html>
{{end}}
