{{define "form"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <form method="post" action="/process" enctype="multipart/form-data">
        <label>The file :</label>
        <input type="file" name="file" required /><br />

        <button type="submmit">Submit</button>
    </form>
</body>

</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Priority</th>
            <th>Arrival Time</th>
            <th>Burst Time</th>
            <th>Waiting Time</th>
            <th>Turn Around Time</th>
        </tr>
        {{range $elem := .Result}}
        <tr>
            <td>{{index $elem 0}}</td>
            <td>{{index $elem 1}}</td>
            <td>{{index $elem 2}}</td>
            <td>{{index $elem 3}}</td>
            <td>{{index $elem 4}}</td>
            <td>{{index $elem 5}}</td>
        </tr>

        {{end}}
    </table>

</body>

</html>
{{end}}